[user]
	name = krororo
	email = krororo.07@gmail.com
[alias]
	gconf = config --global
	st = !git status --short && git stash list
	lg = log --decorate --date=iso --graph
	ci = commit
	br = branch -v
	co = checkout
	di = diff
	f = fetch --tags
	lgo = log --oneline --decorate --graph --date=iso
	fp = fetch --prune --tags
	ss = stash
	sp = stash pop
	mg = merge --no-edit
	lgp = log -p --decorate --date=iso
	lgn = log --decorate --graph --name-status --date=iso
	dc = diff --cached
	brr = branch -vr
	bd = branch -d
	lga = log --graph --decorate --oneline --all
	lgr = log -p --reverse
	p = pull
	pu = push
	puf = push --force-with-lease
	cp = cherry-pick
	lg1 = !git --no-pager log --decorate -1
	wt = worktree
	fa = fetch --prune --tags --all
[color]
	ui = auto
[push]
	default = current
[core]
	editor = vim
	quotepath = false
	pager = lv
[rebase]
	autosquash = true
	autostash = true
[credential]
	helper = store
[merge]
	ff = false
[pull]
	rebase = preserve
[include]
	path = ~/.gitconfig.local
[pager]
	diff = diff-highlight | less
	show = diff-highlight | less
	stash = false
	branch = false
	grep = false
[diff]
	compactionHeuristic = true
	colorMoved = default
[log]
	date = iso
[grep]
	lineNumber = true
[includeIf "gitdir:~/github/"]
	path = ~/github/gitconfig