*~
.cache
.emacs-places
.lsp-session-*
ac-comphist.dat
bookmarks
eln-cache
elpa
eshell/history
games
history
migemo-pattern
network-security.data
projectile-bookmarks.eld
proxy-setting.el
recentf
session.*
tramp
transient
url/
